<section id="tweets">
  <ul>
    <% @jeds.each do |tweet| %>
        <p class="tagline bigger"> @<%= tweet.user["screen_name"] %> says: </p>
        <li class="tweet"><%= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}" %></li>
    <% end %>
  </ul>
</section>
