<div class="header">
  <%= image_tag("49ers.png") %>
</div>

<h1 class="tagline"> What's the internet saying about @jedyork right now?!? </h1>
<p class="tagline"> According to Twitter's last 100 Tweets on the subject...</p>
<div class="center"><%= link_to '49ers Coach Watch', welcome_index_path, :class => 'button'  %></div>

<div class="content">
  <div class="list">
    <%= render 'shared/jed' %>
  </div>
</div>

<p class="left"> Created by <a href="http://www.davidhallinan.com"> DAVID HALLINAN </a> </p>
<p class="right"> GO <a href="http://i.giphy.com/GjMUHtX3z0TkY.gif">NINERS!</a> </p>
